<p>SET TIME</p>
<p></p>

<p>Our society is run by insane people for insane objectives….</p>
<p>I think we’re being run by maniacs for maniacal ends … </p>
<p>… and I think I’m liable to be put away as insane for expressing that.</p>
<p>That’s what’s insane about it.</p>
<p>One thing I can tell you is you have to be free.</p>
<p>All you need is love!</p>
<p>I don’t believe in yesterday, by the way.</p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>

<p>RESET TIME!</p>

<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>