<p>SET TIME</p>
<p></p>

<p>God is a concept by which we measure our pain.</p>
<p>Trying to please everybody is impossible – if you did that, you’d end up in the middle with nobody liking you. </p>
<p>You’ve just got to make the decision about what you think is your best, and do it.</p>
<p>They torture and scare you for twenty odd years.</p>
<p>Then they expect you to pick a career.</p>
<p>When you can’t really function, you’re so full of fear.</p>
<p>A mistake is only an error, it becomes a mistake when you fail to correct it.</p>
<p>They’ll never be able to forget us.</p>
<p>When you’re drowning, you don’t say, “I would be incredibly pleased</p>
<p>if someone would have the foresight to notice me drowning</p>
<p>come and help me, you just scream.”</p>

<p>RESET TIME!</p>

<p>As in a love affair, two creative people can destroy themselves</p>
<p>trying to recapture that youthful spirit, at twenty-one or twenty-four,</p>
<p>of creating without even being aware of how it’s happening</p>
<p>I used to think that the world was doing something to me,</p>
<p>that the world owed me something.</p>
<p></p>
<p></p>
<p></p>
<p></p>

<p>Our society is run by insane people for insane objectives….</p>
<p>I think we’re being run by maniacs for maniacal ends … </p>
<p>… and I think I’m liable to be put away as insane for expressing that.</p>
<p>That’s what’s insane about it.</p>
<p>One thing I can tell you is you have to be free.</p>
<p>All you need is love!</p>
<p>I don’t believe in yesterday, by the way.</p>
<p>All we are saying is give peace a chance.</p>
<p>I don’t want to be king, I want to be real.</p>
<p>You have to be a bastard to make it, and that’s a fact.</p>
<p>If someone thinks that love and peace is a cliche that must have been left behind in the Sixties, that’s his problem.</p>
<p>Love and peace are eternal.</p>
<p>When I was about twelve, I used to think I must be a genius,</p>
<p>but nobody’s noticed.</p>

<p>If there is such a thing as a genius…I am one, and if there isn’t, I don’t care.</p>
<p>If everyone could just be happy with themselves</p>
<p> and the choices people around them make,</p>
<p>the world would instantly be a better place!</p>
<p>Lots of people who complained about us receiving the MBE received theirs for heroism in the war – for killing people.</p>
<p>We received ours for entertaining other people. </p>
<p>I’d say we deserve ours more.</p>