<p>SET TIME</p>
<p></p>

<p>Our society is run by insane people for insane objectives….</p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>

<p>RESET TIME!</p>

<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>