<p>SET TIME</p>
<p></p>

<p>There is no gain without struggle.</p>
<p>We have flown the air like birds and</p>
<p>and swum the sea like fishes,</p>

<p>RESET TIME!</p>

<p>but have yet to learn the simple act of walking</p>
<p>learn the simple act of walking the earth like brothers.</p>
<p>No work is insignificant. </p>


<p>No person has the right to rain on your dreams.</p>
<p>There can be no deep disappointment where there is not deep love.</p>
<p>Faith is taking the first step even when you can’t see the whole staircase.</p>
<p>Not only will we have to repent for the sins of bad people;</p>
<p>but we also will have to repent for the appalling silence of good people.</p>
<p>The choice is not between violence and nonviolence</p>

<p>but between nonviolence and nonexistence.</p>
<p>Life’s most persistent and urgent question is, ‘What are you doing for others?</p>
<p>Hatred paralyzes life;</p>
<p>love releases it. </p>
<p>Hatred confuses life;</p>
<p>love harmonizes it.</p>
<p>Hatred darkens life;</p>
<p>love illuminates it.</p>
<p>I have a dream today</p>
<p>Love is the only force capable of transforming an enemy to a friend.</p>
<p>Every man must decide whether he will walk in the light of creative altruism</p>
<p>or in the darkness of destructive selfishness.</p>


<p>Martin Luther King changed the course of history through the power of his words.</p>
<p>Our lives begin to end the day we become silent about things that matter.</p>
<p>The time is always right to do the right thing.</p>
<p>In the end, we will remember not the words of our enemies, but the silence of our friends.</p>
<p>If you can’t fly then run, if you can’t run then walk, if you can’t walk then crawl, but whatever you do you have to keep moving forward.</p>
<p>I have decided to stick to love… Hate is too great a burden to bear.</p>

<p>Let no man pull you so low as to hate him.</p>
<p>Only in the darkness can you see the stars.</p>
<p>Never, never be afraid to do what’s right,</p>
<p>especially if the well-being of a person or animal is at stake.</p>
<p>Society’s punishments are small</p>
<p>compared to the wounds we inflict on our soul when we look the other way.</p>
<p>Nothing in the world is more dangerous than sincere ignorance and conscientious stupidity.</p>
<p>Intelligence plus character-that is the goal of true education.</p>
<p>A man who won’t die for something is not fit to live.</p>
<p>Forgiveness is not an occasional act, it is a constant attitude.</p>
<p>Injustice anywhere is a threat to justice everywhere.</p>
<p>There comes a time when silence is betrayal.</p>
<p>We must live together as brothers or perish together as fools.</p>
<p>Wars are poor chisels for carving out peaceful tomorrows.</p>

<p>God is a concept by which we measure our pain.</p>
<p>Trying to please everybody is impossible – if you did that, you’d end up in the middle with nobody liking you. </p>
<p>You’ve just got to make the decision about what you think is your best, and do it.</p>
<p>They torture and scare you for twenty odd years.</p>
<p>Then they expect you to pick a career.</p>
<p>When you can’t really function, you’re so full of fear.</p>
<p>A mistake is only an error, it becomes a mistake when you fail to correct it.</p>
<p>They’ll never be able to forget us.</p>
<p>When you’re drowning, you don’t say, “I would be incredibly pleased</p>
<p>if someone would have the foresight to notice me drowning</p>
<p>come and help me, you just scream.”</p>

<p>As in a love affair, two creative people can destroy themselves</p>
<p>trying to recapture that youthful spirit, at twenty-one or twenty-four,</p>
<p>of creating without even being aware of how it’s happening</p>
<p>I used to think that the world was doing something to me,</p>
<p>that the world owed me something.</p>
<p>And that either the conservatives or the socialists or the fascists or the communists or the Christians or the Jews or the fascists were doing something to me.</p>
<p>And when you’re a teeny-booper, that’s what you think.</p>
<p> I’m 40 now, I don’t think that anymore</p>
<p>because I found out it doesn’t fucking work.</p>

<p>Our society is run by insane people for insane objectives….</p>
<p>I think we’re being run by maniacs for maniacal ends … </p>
<p>… and I think I’m liable to be put away as insane for expressing that.</p>
<p>That’s what’s insane about it.</p>
<p>One thing I can tell you is you have to be free.</p>
<p>All you need is love!</p>
<p>I don’t believe in yesterday, by the way.</p>
<p>All we are saying is give peace a chance.</p>
<p>I don’t want to be king, I want to be real.</p>
<p>You have to be a bastard to make it, and that’s a fact.</p>
<p>If someone thinks that love and peace is a cliche that must have been left behind in the Sixties, that’s his problem.</p>
<p>Love and peace are eternal.</p>
<p>When I was about twelve, I used to think I must be a genius,</p>
<p>but nobody’s noticed.</p>

<p>If there is such a thing as a genius…I am one, and if there isn’t, I don’t care.</p>
<p>If everyone could just be happy with themselves</p>
<p> and the choices people around them make,</p>
<p>the world would instantly be a better place!</p>
<p>Lots of people who complained about us receiving the MBE received theirs for heroism in the war – for killing people.</p>
<p>We received ours for entertaining other people. </p>
<p>I’d say we deserve ours more.</p>