<p>SET TIME</p>
<p></p>

<p>Our society is run by insane people for insane objectives….</p>
<p>I think we’re being run by maniacs for maniacal ends … </p>
<p>… and I think I’m liable to be put away as insane for expressing that.</p>
<p>That’s what’s insane about it.</p>
<p>One thing I can tell you is you have to be free.</p>
<p>All you need is love!</p>
<p>I don’t believe in yesterday, by the way.</p>
<p>All we are saying is give peace a chance.</p>
<p>I don’t want to be king, I want to be real.</p>
<p>You have to be a bastard to make it, and that’s a fact.</p>
<p>If someone thinks that love and peace is a cliche that must have been left behind in the Sixties, that’s his problem.</p>
<p>Love and peace are eternal.</p>
<p>When I was about twelve, I used to think I must be a genius,</p>
<p>but nobody’s noticed.</p>

<p>RESET TIME!</p>

<p>If there is such a thing as a genius…I am one, and if there isn’t, I don’t care.</p>
<p>If everyone could just be happy with themselves</p>
<p> and the choices people around them make,</p>
<p>the world would instantly be a better place!</p>
<p></p>
<p></p>
<p></p>